//<script type="text/jsx">

function FormularioRegistro() {
  const [form] = Form.useForm();

  const guardarFormulario = (datosFormulario) => {
    notificacionGuardando("Guardando usuario");

    const id = v4();

    // Desestructura los datos del formulario
    const { nombreCompleto, correo, contrasenia } = datosFormulario;

    google.script.run.withSuccessHandler(({titulo, descripcion}) => {
      notificacionTareaTerminada(titulo, descripcion);
      form.resetFields();
    }).guardarUsuario(Json.stringify({ id, nombreCompleto, correo, contrasenia }));
  }

  return (
    <div className="px-20">
      <h2 className="text-center font-bold text-xl my-6">Formulario de Registro</h2>
      <Form
        form={form}
        onFinish={guardarFormulario} 
        layout="vertical"
      >
        <Item 
          name="nombreCompleto" 
          label="Nombre completo"
          rules={[
            { required: true, message: "El campo de Nombre es requerido para el registro" }
          ]}
        >
          <Input />
        </Item>

        <Item 
          name="correo" 
          label="Correo"
          rules={[
            { type: "email", message: "El formato no coincide con el formato de un correo válido" },
            { required: true, message: "Este campo no puede ir vacío" }
          ]}
        >
          <Input />
        </Item>

        <Item 
          name="contrasenia" 
          label="Contraseña"
          rules={[
            { required: true, message: "El campo de Contraseña es requerido para el registro" }
          ]}
        >
          <Password />
        </Item>

        <Item className="text-center">
          <Button htmlType="submit">Guardar</Button>
        </Item>
      </Form>
    </div>
  );
}

//</script>